.notificationContainer {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: $halfColumn;
}

.title {
    color: theme-color('gray');
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.content {
    color: theme-color('white');
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 2.66rem;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 1;
    text-transform: uppercase;
}