.container {
    background-color: theme-color('primary');
    height: 100vh;
    position: relative;
    z-index: 1;

    &::before {
        background-color: theme-color('primary');
        content: '';
        height: 100%;
        left: 0;
        mix-blend-mode: hard-light;
        opacity: 1;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 2;
    }
}

.background {
    background-size: cover;
    background-position: center;
    height: 100%;
    mix-blend-mode: luminosity;
    width: 100%;
}