// Global Colors
$colors: (
    'primary':      #1a202c,
    'secondary':    #f84c00,
    'tertiary':     #70b7ba,
    'gray':         #6d7c7c,
    'white':        #ffffff,
    'green':        #4bff81,
    'red':          #ef233c
);

$defaultLineHeight: 1.625;
$halfColumn: 8.3333vw / 2;

// Global Functions
@function theme-color($color) {
    @return map-get($colors, $color);
}

@function tint ($color, $percentage) {
    @return mix(#ffffff, $color, $percentage);
}

@function shade ($color, $percentage) {
    @return mix(#000000, $color, $percentage);
}